# Esclude il contenuto della cartella certs
certs/

# Esclude i file .done
*.done
.done

# Esclude il contenuto della cartella analyzer/script/pcaps
analyzer/script/pcaps/*
my-dashboard/node_modules/

# File temporanei e di sistema
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
*.tmp
*.swp
*.swo
*~

# File di configurazione locale che potrebbero contenere informazioni sensibili
*.local

.env.local
.env.development.local
.env.test.local
.env.production.local
