# Configurazione python fastAPI
VITE_API_BASE_URL=http://backend:80

# Configurazione Analyzer
VITE_ANALYZER_BASE_URL=http://analyzer:5003

# Configurazione Config
VITE_CONFIG_BASE_URL=http://webapp_analyzer_bridge:5001

# Configurazione debug
VITE_DEBUG=true
VITE_LOG_LEVEL=debug

# Configurazione autenticazione
VITE_AUTH_TIMEOUT=3600000

# Configurazione refresh automatico
VITE_REFRESH_INTERVAL=30000

# Configurazione Keycloak
VITE_KC_URL=https://keycloak:8443/auth
VITE_KC_REALM=ICSConsole
VITE_KC_CLIENT_ID=webapp
